<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/Adminlogin.css') }}">
</head>
<body>
    <!-- Main Content -->
    <div class="login-container">
        <h2>Admin Login</h2>
        <form method="post" >
            <div class="form-group">
                <label for="secret_code">Secret Code:</label>
                <input type="password" id="secret_code" name="secret_code" required>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
        
    {% if secret_code %}
        
        {% if secret_code == 'password' %}
            <meta http-equiv="refresh" content="0; url=/db/bank/{{secret_id}}">
        {% else %}
            <p> wrong password</p>
        {% endif %}
    {% endif %}
</body>
</html>
