
<html>
    <head>
        <title>Network of Banks</title>
    </head>
    <body>
        <h1>Create a New Bank</h1>
        <form method="post" action="/db/network/{secret_id}">
            <label for="bank_id">Create a New Bank ID:</label>
            <input type="text" id="bank_id" name="bank_id" minlength="5" required ><br><br>
            
            <button type="submit">Submit</button>
                
        </form>

     <br>

    </body>
</html>
